{% extends "layouts/application.html" %}

{% block containerClass %}container-fluid{% endblock containerClass %}

{% block content %}
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"><p>Entr&eacute;es</p></li>
              <li class="active">Sea Urchin Ceviche</li>
              <li>Puget Sound Olympia Oysters</li>
              <li class="nav-header">Relev&eacute;s</li>
              <li>Garlic and Rosemary Lamb</li>
              <li>Saute of Chicken, Lyonnaise</li>
              <li class="nav-header">Main Courses</li>
              <li>Roast Duckling, Apple Sauce</li>
              <li>Sirloin of Beef, Chateau Potatoes</li>
              <li class="nav-header">Salads</li>
              <li>Roast Squab &amp; Cress</li>
              <li>Cold Asparagus Vinaigrette</li>
              <li class="nav-header">Desserts</li>
              <li>Peaches in Chartreuse Jelly</li>
              <li>Chocolate & Vanilla Éclairs</li>
            </ul>
          </div>
          <!-- /.well -->
        </div>
        <!-- /span -->

        <div class="span9">
          <div class="hero-unit">
            <h1>Menu</h1>
            <img style="margin-top:25px;" width=510 height=339 src="http://pcdn.500px.net/164325/c5788cbaebd88d175572bb4948b9b2a2ae892cca/4.jpg">
          </div>

          <div class="row-fluid">
            <div class="span4">
              <h2>Sea Urchin Ceviche</h2>
              <img src="http://pcdn.500px.net/5740979/38798993ec7460ec5db40cbf7ef7499bdf02c725/3.jpg" />
            </div>
            <div class="span4">
              <h2>Garlic and Rosemary Lamb</h2>
              <img src="http://pcdn.500px.net/3248192/5fea8890354da98e08224c5c70c093b11a8a1fda/3.jpg" />
            </div>
            <div class="span4">
              <h2>Beef Sirloin</h2>
              <img src="http://pcdn.500px.net/1417145/35d1bf548c6a20c57bfba8b7f9fe6e57268b1ea7/3.jpg" />
            </div>
          </div>
{% endblock content %}
