{% extends "application.html" %}

{% block content %}
      <div class="hero-unit">
        <h1>Reviews</h1>
        <p>Great sea urchin ceviche! &mdash; Paul Allen</p>
      </div>

      <div class="row">

        <div class="span4">
          <p>Great sea urchin ceviche!</p>
          <p>&mdash; Paul Allen</p>
        </div>

        <div class="span4">
          <p><strong>Hey Paul!</strong> [he bashes Allen in the head with the axe, and blood splatters over him]
          <strong>Try getting a reservation at Dorsia now you fucking stupid bastard! You fucking bastard!</strong>
          </p>
          <p>&mdash; Patrick Bateman</p>
        </div>

        <div class="span4">
          <p>I could&rsquo;ve gotten us a table. Nobody goes there anymore.</p>
          <p>&mdash; Marcus Halberstram</p>
        </div>

      </div>

      <div class="row">

        <div class="span4">
          <p>God, I hate this place. It&rsquo;s a chick restaurant. Why aren't we at Dorsia?</p>
          <p>&mdash; Timothy Bryce</p>
        </div>

        <div class="span4">
          <p>Ivana Trump Eats Here I saw her once...sitting at a table next to two businessmen. I'm not sure why she was there. Or was it Texarkana. I get my restaurants mixed up.
          <p>&dash; Patrick Bateman</p>
        </div>

        <div class="span4">
          <p>Dorisa on Friday night. How do you swing that?</p>
          <p>&dash; Timothy Bryce</p>
        </div>

      </div>
{% endblock content %}
