body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #222;
  color: #EFEFEF;
}
.hero-unit {
  background-color: #555;
}
.hero-unit h1 {
  font-weight: normal;
  margin-bottom: .5em;
}
.hero-unit img {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-top: 2em;
  -moz-box-shadow:    1px 1px 1px 1px black;
  -webkit-box-shadow: 1px 1px 1px 1px black;
  box-shadow:         1px 1px 1px 1px black;
}
input.small {
  width: 110px;
}
select#id_seatingTime {
  width: 75px;
}
.actions {
  margin: 18px 0;
  padding: 10px 20px 18px 120px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
footer {
  margin: 30px 0;
}
footer span {
  margin: 0 10px;
}
legend, label, .help-block, .help-inline {
  color: #EFEFEF;
}
form {
  margin-top: 20px;
}
form div.row {
  padding-top: 20px;
}
form#reservation-form label {
  width:130px;
  float:left;
  text-align:right;
  line-height:18px;
  padding-top:6px;
}
form#reservation-form div.row div.input {
  margin-left: 20px;
  float: left;
}
ul.errorlist {
  color: red;
  list-style: none;
  float: left;
  padding-top: 6px;
  line-height: 18px;
}
.dish-img {
  margin-top: 20px;
}
.well {
  color: rgb(51, 51, 51);
}
.menu {
  text-align: center;
}
.menu-list {
  list-style: none;
}
.nav-header {
  color: #C0C0C0;
  padding-top: 20px;
  text-shadow: none;
}
.review-link {
  font-size: 1.5em;
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width : 480px) {
  .hero-unit {
    font-size: 14px;
    padding: 30px;
  }
  .hero-unit h1 {
    font-size: 40px;
  }
  .btn-large {
    font-size: 16px;
  }
}
