{% extends "layouts/application.html" %}

{% block containerClass %}container-fluid{% endblock containerClass %}

{% block content %}
    <div class="hero-unit menu">
      <h1>Menu</h1>
      <ul class="menu-list">
        <li class="nav-header"><p>Entr&eacute;es</p></li>
        <li class="active">Sea Urchin Ceviche</li>
        <li>Puget Sound Olympia Oysters</li>
        <li class="nav-header">Relev&eacute;s</li>
        <li>Garlic and Rosemary Lamb</li>
        <li>Saute of Chicken, Lyonnaise</li>
        <li class="nav-header">Main Courses</li>
        <li>Roast Duckling, Apple Sauce</li>
        <li>Sirloin of Beef, Chateau Potatoes</li>
        <li class="nav-header">Salads</li>
        <li>Roast Squab &amp; Cress</li>
        <li>Cold Asparagus Vinaigrette</li>
        <li class="nav-header">Desserts</li>
        <li>Peaches in Chartreuse Jelly</li>
        <li>Chocolate & Vanilla Éclairs</li>
      </ul>
    </div>
{% endblock content %}
