{% extends "layouts/application.html" %}

{% comment %} Datepicker adapted from http://dl.dropbox.com/u/143355/datepicker/datepicker.html {% endcomment %}

{% block content %}
      {% if form %}
      <h1>Reservations</h1>
      <form action="{% url reservations %}" method="post" id="reservation-form">
        {% csrf_token %}

        <fieldset>
          <legend>Make a reservation</legend>
          {{ form.non_field_errors }}

          <div class="row">
            <label for="id_name">Full name:</label>
            <div class="input">
              {{ form.name }}
            </div>
            {{ form.name.errors }}
          </div>

          <div class="row">
            <label for="id_email">Email:</label>
            <div class="input">
              {{ form.email }}
            </div>
            {{ form.email.errors }}
          </div>

          <div class="row">
            <label for="id_partySize">Party size:</label>
            <div class="input">
              {{ form.partySize }}
            </div>
            {{ form.partySize.errors }}
          </div>

          <div class="row">
            <label for="reservationDate">Date:</label>
            <div class="input">
              <input id="reservationDate" name="reservationDate" data-datepicker="datepicker" class="small" type="text" value="{% now "Y-m-d" %}" />
              {{ form.seatingTime }} PM
            </div>
            {% if form.reservationDate.errors %}
              {{ form.reservationDate.errors }}
            {% else %}{% if form.seatingTime.errors %}
              {{ form.seatingTime.errors }}
            {% endif %}{% endif %}
          </div>

          <div class="actions">
            <input type="submit" class="btn btn-large" value="Submit" />
          </div>
        </fieldset>
      </form>

      {% else %}
      <p>Thanks for making a reservation. Confirm your reservation by checking the email we sent you.</p>
      {% endif %}

{% endblock content %}
