{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dorsia</title>
    {% include "layouts/_stylesheets.html" %}

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
  </head>

  <body>
    {% include "layouts/_header.html" %}

    <div class="{% block containerClass %}container{% endblock containerClass %}">
      {% block content %}
      {% endblock content %}

      {% include "layouts/_footer.html" %}
    <div> <!-- /container -->

    {% include "layouts/_javascripts.html" %}
  </body>
</html>
